@font-face {
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto-R/Roboto-Regular.eot');
    src: url('../font/Roboto-R/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-R/Roboto-Regular.svg#Roboto-Regular') format('svg'),
         url('../font/Roboto-R/Roboto-Regular.ttf') format('truetype'),
         url('../font/Roboto-R/Roboto-Regular.woff') format('woff'),
         url('../font/Roboto-R/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../font/Roboto-M/Roboto-Medium.eot');
    src: url('../font/Roboto-M/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-M/Roboto-Medium.woff2') format('woff2'),
        url('../font/Roboto-M/Roboto-Medium.woff') format('woff'),
        url('../font/Roboto-M/Roboto-Medium.ttf') format('truetype'),
        url('../font/Roboto-M/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../font/Roboto-B/Roboto-Bold.eot');
    src: url('../font/Roboto-B/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-B/Roboto-Bold.woff2') format('woff2'),
        url('../font/Roboto-B/Roboto-Bold.woff') format('woff'),
        url('../font/Roboto-B/Roboto-Bold.ttf') format('truetype'),
        url('../font/Roboto-B/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NotoSerif-Bold';
    src: url('../font/Noto-B/NotoSerif-Bold.eot');
    src: url('../font/Noto-B/NotoSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Noto-B/NotoSerif-Bold.woff2') format('woff2'),
        url('../font/Noto-B/NotoSerif-Bold.woff') format('woff'),
        url('../font/Noto-B/NotoSerif-Bold.ttf') format('truetype'),
        url('../font/Noto-B/NotoSerif-Bold.svg#NotoSerif-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SF Pro Display"; 
    src: url("../font/SF-Pro-Regular/SF-Pro-Display-Regular.eot"); 
    src: url("../font/SF-Pro-Regular/SF-Pro-Display-Regular.eot?#iefix") format("embedded-opentype"), 
         url("../font/SF-Pro-Regular/SF-Pro-Display-Regular.woff2") format("woff2"), 
         url("../font/SF-Pro-Regular/SF-Pro-Display-Regular.woff") format("woff"), 
         url("../font/SF-Pro-Regular/SF-Pro-Display-Regular.ttf") format("truetype"), 
         url("../font/SF-Pro-Regular/SF-Pro-Display-Regular.svg#SF Pro Display") format("svg"); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF-Pro-Display-Bold';
    src: url('../font/SF-Pro-Bold/SFProDisplay-Bold.eot');
    src: url('../font/SF-Pro-Bold/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/SF-Pro-Bold/SFProDisplay-Bold.woff2') format('woff2'),
        url('../font/SF-Pro-Bold/SFProDisplay-Bold.woff') format('woff'),
        url('../font/SF-Pro-Bold/SFProDisplay-Bold.ttf') format('truetype'),
        url('../font/SF-Pro-Bold/SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF-Pro-Display-Medium';
    src: url('../font/SF-Pro-Medium/SFProDisplay-Medium.eot');
    src: url('../font/SF-Pro-Medium/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/SF-Pro-Medium/SFProDisplay-Medium.woff2') format('woff2'),
        url('../font/SF-Pro-Medium/SFProDisplay-Medium.woff') format('woff'),
        url('../font/SF-Pro-Medium/SFProDisplay-Medium.ttf') format('truetype'),
        url('../font/SF-Pro-Medium/SFProDisplay-Medium.svg#SFProDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../font/MW/Merriweather-Bold.eot');
    src: url('../font/MW/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/MW/Merriweather-Bold.woff2') format('woff2'),
        url('../font/MW/Merriweather-Bold.woff') format('woff'),
        url('../font/MW/Merriweather-Bold.ttf') format('truetype'),
        url('../font/MW/Merriweather-Bold.svg#Merriweather-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif';
    src: url('../font/Noto-R/NotoSerif.eot');
    src: url('../font/Noto-R/NotoSerif.eot?#iefix') format('embedded-opentype'),
        url('../font/Noto-R/NotoSerif.woff2') format('woff2'),
        url('../font/Noto-R/NotoSerif.woff') format('woff'),
        url('../font/Noto-R/NotoSerif.ttf') format('truetype'),
        url('../font/Noto-R/NotoSerif.svg#NotoSerif') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* BASIC SETTING */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    /* default 16px -> 62.5% = 10px*/
    /* 1rem = 10px*/
    /* 1em = 10px*/
    box-sizing: border-box;
    font-family: 'Roboto-Regular', sans-serif;
    background: #E6E6E6;
}
body {
    font-weight: 400;
    line-height: 1.6;
    background-color: #FFFFFF;
    color: #555;
    min-width: fit-content;
}
.cell_title {
    font-family: 'Roboto-Medium';
    font-size: 11px;
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #147ADE;
}
/*-------------------------------------------------*/
/* SETTING FOR LINKS */
/*-------------------------------------------------*/
a:link,
a:visited {
    color: #121212;
    text-decoration: none;
}
a:hover {
    color: #0B4888;
}
/*-------------------------------------------------*/
/************ SETTING FOR HEADING ******************/
/*-------------------------------------------------*/
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0px 35px 0px;
    width: 1040px;
    margin: 0 auto;
}
.header-top__ul {
    display: flex;
    list-style: none;
    margin-right: 30px
}
.header-top__ul li {  
    margin-right: 12px;
    border-radius: 16px;
    padding: 7px 12px 6px 12px;
    background-color: #E6E6E6;
}
.header-top__ul a {
    font-family: 'Roboto-Medium';
    font-size: 14px;
    line-height: 19px;
    color: #454545;
}
.header-top__ul li:first-child {
    background-color: transparent;
    padding-right: 0px;
}
/*-------------------DESIGN FOR NAV-------------------**/
.header-nav {
    align-items: center;
    background-color: #095AAA;
}
.header-nav__ul {
    display: flex;
    width: 1040px;
    margin: 0 auto;
    justify-content: space-between;
}
.header-nav__ul ul {
    display: flex;
}
.header-nav__ul li {  
    list-style: none;
    display: flex;
}
.active, .header-nav__ul li:hover {
    background: #0B4888;
    color: #FFFFFF;
}
.header-nav__ul li:not(:first-child) a {
    padding: 9px 12px 10px 12px;  
}
.header-nav__ul li a {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    font-size: 14px;
    color: #E6E6E6;
    text-transform: uppercase; 
    line-height: 19px;
}
.header-nav__ul li .header-nav__img1 {
    display: block;
    margin: 11px 6px 13px 8px
}
.header-nav__img2 {
    display: block;
    margin-top: 1px;
}
.header-nav__home {
    margin: 10px 8px 10px 0px;
}
/*-------------------DESIGN FOR NAV AFTER ---------------**/
#header-nav__site {
    width: 1040px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0px;
    left: 0px;
    z-index: -1;  
}
#header-nav__site.is-active {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    height: auto;
    overflow: visible;
    z-index: 2;
    background-color: #ffffff;
    /* border-top: 5px solid #BB2025;  */
}
.header-nav__site-content {
    margin: 20px 20px;
}
.header-nav__site-top {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid #E0E0E0;
}
.site-top__block {
    margin-right: 15px;
    width: calc(100%/6);
}
.site-top__block a {
    font-family: 'SF-Pro-Display-Bold';
    color: #147ADE;
    font-size: 14px;
    font-weight: 600;
}
.site-top__block ul {
    margin-top: 9px;
    list-style-type: none;
}
.site-top__block ul li {
    padding-bottom: 6px;
    list-style: none; 
}
.site-top__block ul li a{
    font-family: 'SF-Pro-Display-Medium';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #616161;
}
.header-nav__site-bottom {
    display: flex;
    padding-top: 16px;
}
.site-bottom__block{
    display: flex;
    margin-right: 60px;
}
.site-content__block-icon{
    margin-right: 5px;
}
.site-bottom__block h2 {
    font-family: 'SF-Pro-Display-Medium';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #616161;
    padding-left: 5px;
}
.site-bottom__block h2 a {
    color: #616161;
}
/*--------button------------*/
.button-menu img{
    border: 0;
    cursor: pointer;
    padding: 10px 0px 15px 21px;
    color: inherit;
    overflow: visible;
    outline: none;
    display: block;
    text-transform: none;
}
.button-menu {
    position: relative;
}
.button-menu.is-active .button-menu img{
    display: none;
}
.button-menu.is-active .button-menu__close {
    display: block;
}
.button-menu__close {
    position: absolute;
    background-color: #BB2025;
    width: 39px;
    height: 39px;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.button-menu__close-1 {
    position: absolute;
    width: 20.55px;
    height: 2.28px;
    transform: rotate(45deg);
    top: 19px;
    right: 10px;
    background-color: #FFFFFF;
}
.button-menu__close-2 {
    position: absolute;
    width: 20.55px;
    height: 2.28px;
    transform: rotate(-45deg);
    top: 19px;
    right: 10px;
    background-color: #FFFFFF;
}
/* --------------------- design main --------------------*/
.main {
    width: 1040px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 50px;
}
.main-left {
    width: 740px;
    margin-top: 20px;
    padding-right: 30px;
}
.main-right {
    width: 300px;
    margin-top: 29px;
    background-color: #E6E6E6;

}
.main-left__title{
    font-family: 'NotoSerif-Bold';
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
    color: #121212;
}
.main-left__block-1 {
    display: flex;
    margin: 14px 0px 12px 0px;
}
.block-1__1 {
    margin: 4px 12px 4px 0px;
}
.block-1__1 a {
    font-family: 'Roboto-Medium';
    font-size: 11px;
    line-height: 16px;
    color: #147ADE;
    font-weight: 500px;
}
.block-1__2 {
    font-size: 13px;
    line-height: 24px;
    color: #454545;
    font-weight: 400px;
}
.block-1__2 i {
    margin-right: 3px;
}
.main-left__block-2 {
    border-bottom: 1px dotted #454545;
}
.main-left__block-2 h2 {
    font-family: 'Roboto-Medium';
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    color: #333333;
    margin-right: 7px;
}
.main-left__like {
    display: flex;
    padding-bottom: 24px;
    margin-top: 15px;   
}
.like {
    margin-right: 13px;
    width: 77px;
    height: 20px;
    border-radius: 3px;
    background-color: #1878F3;
}
.like i {
    color: #FFFFFF;
    padding: 4px 7px 5px 12px;
}
.like a {
    display: flex;
    align-items: center;
}
.like p {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 2px 12px 2px 0px;
    font-family: 'SF-Pro-Display-Bold';
}
.share {
    width: 88px;
    height: 20px;
    border-radius: 3px;
    background-color: #1878F3;
}
.share i {
    color: #FFFFFF;
    padding: 3px 7px 3px 12px;
}
.share a {
    display: flex; 
    align-items: center;
}
.share p {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 2px 11px 2px 0px;
    font-family: 'SF-Pro-Display-Bold';
}
/* ------------ ul li --------------- */
.main-left__block-ul {
    margin-top: 16px;
    padding-bottom: 17px;
    border-bottom: 1px dotted #454545;
}
.main-left__block-ul li {
    list-style: inherit;
    color: #147ADE;
    font-size: 20px;
    margin-left: 18px;
}
.main-left__block-ul li a {
    font-family: 'Roboto-Bold';
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #454545;
    margin-bottom: 12px ;
}
.main-left__block-p {
    margin-top: 25px;
}
.main-left__block-p p {
    font-family: 'Noto Serif';
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    color: #121212;
}
.p1 {
    margin-bottom: 40px;
}
.p3 {
    margin-bottom: 17px;
}
.main-left__block-p .p4 {
    font-family: 'Roboto-Medium';
    font-size: 14px;
    line-height: 19px;
    color: #454545;
    text-align: center;
    font-weight: 500;
}
.main-left__block-p img {
    display: block;
    margin-bottom: 12.05px;
}
.p5 {
    margin-top: 19px;
}
.main-left__block-p .p6 {
    font-family: 'Roboto-Bold';
    font-size: 16px;
    line-height: 22px;
    color: #121212;
    font-weight: 700;
    text-align: right;
    margin-top: 26px;
    margin-bottom: 13px;
}
.main-left__block-endp {
    display: flex;  
    background-color: #F9F9F9;
    border-radius: 3px;
}
.margin10 {
    margin: 10px 0px 10px 10px;
}

.line {
    border-right: 1px solid #E6E6E6;
    margin: 8px 20px;
}
.twitter {
    margin: 9px 6px;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background-color: #BDBDBD;
}
.twitter i {
    color: #FFFFFF;
    padding: 6.94px 6px;
}
.zalo {
    margin: 9px 6px;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background-color: #BDBDBD;
}
.zalo a {
    width: 22px;
    height: 22px;
    display: block;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 4px;
    align-items: center;
    padding: 4px 6px 4px 8px;
}
.email {
    margin: 9px 6px;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background-color: #BDBDBD;
}
.email i {
    color: #FFFFFF;
    padding: 6px;
}
.main-left__block-keyp {
    margin-top: 16px;
    margin-bottom: 27px;
}
.main-left__block-keyp b, .main-left__block-keyp a {
    font-family: 'Roboto-Medium';
    font-size: 14px;
    line-height: 19px; 
    color: #454545;
}
/* boder */
.list-boder {
    list-style: none;
}
.boder {
    border-bottom: 1px dotted #BDBDBD;
    margin-top: 1px;
}
/* ----------------marketing--------------- */
.marketing {
    margin-top: 24px;
}
.marketing__line {
    border-bottom: 3px solid #147ADE;
}
.marketing-title {
    display: flex;
    justify-content: space-between;
}
.marketing-title h2 a {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #147ADE;
}
.marketing-content {
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
}
.marketing-content__block {
    width: 218px;
    margin-bottom: 24px;
    margin-right: 28px;
    box-sizing: border-box;
}
.marketing-content__block:nth-of-type(3), .marketing-content__block:nth-of-type(6) {
    margin-right: 0px;
}
.marketing-content__block img{
    display: block;
}
.marketing-content__block-text {
    margin-top: 12px;
}
.marketing-content__block-text a {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.marketing-content__block-text img {
    border-radius: 2px;
    margin-right: 10px;
    display: inline-flex;
}
/*---------- desigin news -------------*/
.news__title {
    margin-top: 17px;
    margin-bottom: 16px;
}
.news__title a{
    font-family: 'Roboto-Bold';
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    color: #147ADE;
}
.container-left__news {
    display: flex;
    margin-bottom: 30px;
}
.container-left__news-left {
    width: 467px;
    padding-right: 15px;
    border-right: 1px solid #E6E6E6;
}
.container-left__news-left img {
    display: block;
}
.news-left__title {
    margin-top: 16px;
}
.news-left__title a {
    font-family: 'Noto Serif';
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}
.news-left__content {
    margin-top: 12px;
    margin-bottom: 33px;
}
.news-left__content a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.container-left__news-right {
    width: 243px;
    padding-left: 15px;
}
.container-left__news-right img {
    display: block;
}
.news-right__1 {
    margin: 12px 0px;
}
.news-right__1 a {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    font-size: 19px;
    line-height: 26px;
    font-weight: bold;
}
.news-right__2 a {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #454545;
}
.news-right__2 {
    border-top: 1px solid #E6E6E6;
    padding: 16px 0px;
}
.news-right__2:last-child {
    padding-bottom: 0px;
}
/*-------------- social ----------------------- */
.social__title {
    margin-top: 17px;
}
.social__title a {
    font-family: 'Roboto-Bold';
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #147ADE;
}

.social-block {
    margin: 24px 0px;
}
.social-block:last-child {
    margin-bottom: 0px;
}
.social-block__content {
    display: flex;
}

.social-block__content-img {
    margin-right: 20px;
    
}
.social-block__content-img img {
    display: block;
}
.social__news-title h2{
    font-family: 'Roboto-Bold';
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;  
}
.social__news-title {
    margin-bottom: 10px;
}
.social__news-title img {
    margin-right: 10px;
}
.social__news-content {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #454545;
    margin-top: 10px;
}
.social__news-content a:hover {
    color: #121212;
}
.social-line {
    border-bottom: 1px solid #E6E6E6;
    margin-top: 20px;
}
/*------------button---------------*/
.button-add {
    margin: 24px auto 0px auto;
    width: 102px;
    background-color: #147ADE;
    border-radius: 4px;
}
.button-add a {
    display: flex;
}
.button-add__1 {
    padding: 7px 4px 6px 13px;
    font-family: 'Roboto-Medium';
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    font-weight: 500;
}
.button-add__2 {
    position: absolute;
    margin-top: 5px;
    margin-left: 81px;
}
.button-add__2-1 {
    position: absolute;
    width: 6px;
    height: 1.5px;
    top: 11px;
    border-radius: 2px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
}
.button-add__2-2 {
    position: absolute;
    width: 6px;
    height: 1.5px;
    border-radius: 2px;
    top: 11px;
    left: 4px;
    background-color: #FFFFFF;
    transform: rotate(135deg);
}
/*---------------FOOTER------------------*/
.footer {
    background-color: #095AAA;
}
.footer__line {
    border-top: 1px solid #F9F9F9;
    opacity: 10%;
}
.footer__info {
    width: 1040px;
    margin: 0 auto;
}

.footer__info-content {
    display: flex;
    margin-top: 35px;
    padding-bottom: 30px;
}

.footer__logo {
    margin-right: 57.47px;
    margin-top: 6px;
}

.footer__logo-2-1 {
    position: absolute;
}

.footer__logo-2-2 {
    position: relative;
    margin-left: 15px;
    margin-bottom: 2px;
}

.footer__address {
    margin-right: 25px;
    display: grid;
    width: 395px;
}
.footer__address-content {
    color: #E6E6E6;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    margin-bottom: 2px;
}
.footer__address h2 {
    margin-bottom: 14px;
    font-family: 'Merriweather';
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    font-style: normal;
    color: #FFFFFF;
}
.footer__address b {
    font-family: 'Roboto-Bold';
}
.footer__infor-line {
    border-right: 1px solid #E6E6E6;
    opacity: 10%;
    padding-bottom: 25px;
}

.footer__people {
    margin-left: 25px;
    margin-top: 7px;
    right: 0px;
    display: grid;
    width: 395px;
}